{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "OpenWeatherMap Current Weather (lat/lon) - JSON"
  },
  "host": "api.openweathermap.org",
  "basePath": "/data/2.5",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/weather": {
      "get": {
        "summary": "Get current weather by coordinates (JSON)",
        "description": "Returns current weather for a given latitude/longitude. Output is JSON.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "API key",
            "required": true,
            "type": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Units of measurement",
            "required": false,
            "type": "string",
            "enum": ["standard", "metric", "imperial"]
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response (JSON)",
            "schema": {
              "type": "object",
              "properties": {
                "coord": {
                  "type": "object",
                  "properties": {
                    "lon": { "type": "number" },
                    "lat": { "type": "number" }
                  }
                },
                "weather": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "main": { "type": "string" },
                      "description": { "type": "string" },
                      "icon": { "type": "string" }
                    }
                  }
                },
                "base": { "type": "string" },
                "main": {
                  "type": "object",
                  "properties": {
                    "temp": { "type": "number" },
                    "feels_like": { "type": "number" },
                    "temp_min": { "type": "number" },
                    "temp_max": { "type": "number" },
                    "pressure": { "type": "number" },
                    "humidity": { "type": "number" }
                  }
                },
                "visibility": { "type": "number" },
                "wind": {
                  "type": "object",
                  "properties": {
                    "speed": { "type": "number" },
                    "deg": { "type": "number" }
                  }
                },
                "clouds": {
                  "type": "object",
                  "properties": {
                    "all": { "type": "number" }
                  }
                },
                "dt": { "type": "number" },
                "sys": {
                  "type": "object",
                  "properties": {
                    "country": { "type": "string" },
                    "sunrise": { "type": "number" },
                    "sunset": { "type": "number" }
                  }
                },
                "timezone": { "type": "number" },
                "id": { "type": "number" },
                "name": { "type": "string" },
                "cod": { "type": "number" }
              }
            }
          }
        }
      }
    }
  }
}
