{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "OpenWeatherMap Current Weather (lat/lon) - XML"
  },
  "host": "api.openweathermap.org",
  "basePath": "/data/2.5",
  "schemes": ["https"],
  "produces": ["application/xml", "text/xml"],
  "paths": {
    "/weather": {
      "get": {
        "summary": "Get current weather by coordinates (XML)",
        "description": "Returns current weather for a given latitude/longitude. Output is XML when mode=xml is provided; this spec sets default mode to xml.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "API key",
            "required": true,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Response format",
            "required": false,
            "type": "string",
            "enum": ["xml", "json"],
            "default": "xml"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Units of measurement",
            "required": false,
            "type": "string",
            "enum": ["standard", "metric", "imperial"]
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "Successful response (XML)" }
        }
      }
    }
  }
}